server:
  port: ${SERVER_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8 # Charset of HTTP requests and responses. Added to the "Content-Type" header if not set explicitly
      enabled: true # Enable http encoding support
      force: true

spring:
  application:
    name: dictionary-service
  profiles:
    active: postgres

  jackson:
    default-property-inclusion: non_null
  jpa:
    properties:
      open-in-view: false
      show-sql: true
      hibernate:
        ddl-auto: validate
        default_batch_fetch_size: 20
        # https://stackoverflow.com/questions/21257819/what-is-the-difference-between-hibernate-jdbc-fetch-size-and-hibernate-jdbc-batc
        jdbc.batch_size: 20
  sql.init:
    mode: never
    encoding: UTF-8
